<div class="px-5 md:px-20 flex flex-col items-center">
  <app-header text="CONTACT"></app-header>
  <div class="py-24 text-center">
    <h1 class="text-xl xl:text-3xl">Please join our <a href="https://discord.gg/QEr9WJqMcw" target="_blank" class="text-purple-700 hover:underline cursor-pointer">Discord</a> server or <a href="mailto:compsci.society@union.aston.ac.uk" target="_blank" class="text-purple-700 hover:underline cursor-pointer">Email</a> us in order to get in contact.</h1>
  </div>
</div>
