<footer class="text-neutral-50">
  <div class="flex flex-row space-x-32 h-fit w-full justify-center items-start py-14 bg-zinc-900">
    <div class="flex flex-col justify-center items-center">
      <a href="/">
        <img src="/logo.png" alt="Aston Hack Logo" width="75" height="94" class="w-20 h-20 object-contain" />
      </a>
      <a href="/">
        <img src="/acssLogo.png" alt="Aston Computer Science Society Logo" width="792" height="259" class="w-40 h-20 object-contain" />
      </a>
    </div>
    <div class="flex flex-col w-[15%] h-[20%] max-w-[15%] items-center justify-center">
      <h1 class="text-xl text-center border-b-2 pb-3 w-full">Useful Links</h1>
      <a href="" class="flex flex-row self-start pt-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 18l6-6-6-6"/></svg>
        Home
      </a>
      <a href="" class="self-start">
        Sponsorship
      </a>
      <a href="" class="self-start">
        Code of Conduct
      </a>
    </div>
    <div class="flex flex-col text-wrap text-center w-[15%] h-[20%] max-w-[15%]">
      <h1 class="text-xl border-b-2 pb-3">Contact Us</h1>
      <p class="pt-3">Get in touch for any suggestions, queries or to have a discussion primarily though email, at whatever&#64;.com, and on our social media: Instagram, X and Facebook</p>
    </div>
    <div class="flex flex-col">
      <a href="/">
        <img src="/astonLogo.png" alt="Aston University Logo" width="2048" height="836" class="w-40 h-20 object-contain" />
      </a>
      <a href="/">
        <img src="/astonSU.png" alt="Aston Student's Union Logo" width="858" height="300" class="w-40 h-20 object-contain" />
      </a>
    </div>
  </div>
  <div class="flex flex-row justify-center py-5 bg-zinc-950">
    <p>Created by <a href="https://BenSnaith.github.io">Ben Snaith</a> based on <a href="/">Aamnah Ramzan's</a> original design</p>
  </div>
</footer>
