<footer>
  <div class="flex flex-row h-fit w-full justify-center items-center bg-[#18181B] text-neutral-50">
    <div class="flex flex-col">
      <a href="/">
        <img src="/logo.png" alt="Aston Hack Logo" width="75" height="94" class="w-10 h-10 object-contain" />
      </a>
      <a href="/">
        <img src="/acssLogo.png" alt="Aston Computer Science Society Logo" width="792" height="259" class="w-10 h-10 object-contain" />
      </a>
    </div>
    <div class="flex flex-col max-w-[10%]">
      <h1 class="text-2xl">Useful Links</h1>
      <a href="">Home</a>
      <a href="">Sponsorship</a>
      <a href="">Code of Conduct</a>
    </div>
    <div class="flex flex-col text-wrap max-w-[10%]">
      <h1 class="text-2xl">Contact Us</h1>
      <p>Get in touch for any suggestions, queries or to have a discussion primarily though email, at whatever&#64;.com, and on our social media: Instagram, X and Facebook</p>
    </div>
    <div class="flex flex-col">
      <a href="/">
        <img src="/astonLogo.png" alt="Aston University Logo" width="2048" height="836" class="w-10 h-10" />
      </a>
      <a href="/">
        <img src="/astonSU.png" alt="Aston Student's Union Logo" width="858" height="300" class="w-10 h-10" />
      </a>
    </div>
  </div>
  <div>
    <p>Created by <a href="https://BenSnaith.github.io">Ben Snaith</a> based on <a href="/">Aamnah Ramzan's</a> original design</p>
  </div>
</footer>
