<div class="flex flex-col items-center justify-center">
  <app-header text="Gallery"></app-header>
  <div class="grid grid-cols-1 md:grid-cols-4 p-10">
    <app-image-card imageSrc="{{ images[0] }}" />
    <app-image-card imageSrc="{{ images[1] }}" />
    <app-image-card imageSrc="{{ images[2] }}" />
    <app-image-card imageSrc="{{ images[3] }}" />
    <app-image-card imageSrc="{{ images[4] }}" />
    <app-image-card imageSrc="{{ images[5] }}" />
    <app-image-card imageSrc="{{ images[6] }}" />
    <app-image-card imageSrc="{{ images[7] }}" />
    <app-image-card imageSrc="{{ images[8] }}" />
    <app-image-card imageSrc="{{ images[9] }}" />
    <app-image-card imageSrc="{{ images[10] }}" />
    <app-image-card imageSrc="{{ images[11] }}" />
    <app-image-card imageSrc="{{ images[12] }}" />
    <app-image-card imageSrc="{{ images[13] }}" />
    <app-image-card imageSrc="{{ images[14] }}" />
    <app-image-card imageSrc="{{ images[15] }}" />
  </div>
</div>
