<nav #navbarDiv class="static-nav md:px-[5%] lg:px-[10%] min-w-full space-x-10 hidden md:flex flex-row justify-between items-center fixed">
        <div id="logo" class="h-10 w-10">
            <a href="index.html" class="h-fit w-fit"><img src="/logo.png" height="94" width="75" alt="Aston Hack Logo" class="h-10 w-10 object-contain"></a>
        </div>

        <div class="flex flex-row">
          <div><a href="#hero" class="ml-5 hover:underline">home</a></div>
          <div><a href="#about" class="ml-5 hover:underline">about</a></div>
          <div><a href="#gallery" class="ml-5 hover:underline">gallery</a></div>
          <div><a href="#sponsors" class="ml-5 hover:underline">sponsors</a></div>
          <div><a href="#faq" class="ml-5 hover:underline">f.a.q</a></div>
          <div><a href="#contact" class="ml-5 hover:underline">contact</a></div>
          <div><a href="www.discord.com" class="ml-5 hover:underline">discord</a></div>
        </div>
</nav>
