<nav #navbarDiv class="static-nav md:px-[5%] lg:px-[10%] min-w-full space-x-10 hidden md:flex flex-row justify-between items-center fixed z-10">
        <div id="logo" class="h-10 w-10">
            <a href="/" class="h-fit w-fit"><img src="/logo.png" height="94" width="75" alt="Aston Hack Logo" class="h-10 w-10 object-contain"></a>
        </div>

        <div class="flex flex-row">
          <div><a href="#hero" class="navbar-link">home</a></div>
          <div><a href="#about" class="navbar-link">about</a></div>
          <div><a href="#gallery" class="navbar-link">gallery</a></div>
          <div><a href="#sponsors" class="navbar-link">sponsors</a></div>
          <div><a href="#faq" class="navbar-link">f.a.q</a></div>
          <div><a href="#contact" class="navbar-link">contact</a></div>
          <div><a href="https://discord.gg/QEr9WJqMcw" target="_blank" class="navbar-link">discord</a></div>
        </div>
</nav>
