<nav #navbarDiv class="static-nav flex flex-row min-w-full items-center text-neutral-50 px-72 fixed">
        <div id="logo">
            <a href="index.html" class="scrollto"><img src="/logo.png" height="30" width="30"></a>
        </div>

        <div class="grow"></div>

        <div><a href="#intro" class="ml-5 hover:underline">home</a></div>
        <div><a href="#about" class="ml-5 hover:underline">about</a></div>
        <div><a href="#gallery" class="ml-5 hover:underline">gallery</a></div>
        <div><a href="#supporters" class="ml-5 hover:underline">sponsors</a></div>
        <div><a href="#faq" class="ml-5 hover:underline">f.a.q</a></div>
        <div><a href="#contact" class="ml-5 hover:underline">contact</a></div>
        <div><a href="www.discord.com" class="ml-5 hover:underline">discord</a></div>
</nav>
