.static-nav {
  background-color: transparent;
  transition: all;
  transition-duration: 700ms;
  height: 15%;
}

.scrolled-nav {
  background-color: #18181b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all;
  transition-duration: 700ms;
  height: 10%;
}
