<div class="flex flex-col justify-center items-center text-black dark:text-white">
  <app-header text="SCHEDULE"></app-header>

  <div class="w-full h-fit flex flex-col items-center justify-center">
    <h1 class="schedule-header">February 22nd 2025</h1>
    <app-schedule-item *ngFor="let e of dayOneEvents" [event]="e" />
    <h1 class="schedule-header">February 23rd 2025</h1>
    <app-schedule-item *ngFor="let e of dayTwoEvents" [event]="e" />
  </div>
  <p class="pt-5 px-5 text-xs text-center">Schedule subject to change, this message will be edited when finalised.</p>
</div>
