<div class="h-fit flex flex-col items-center">
  <app-header text="SPONSORS"></app-header>

  <div class="flex flex-col py-20 gap-y-10">
    <app-sponsor-card image="/majestic-logo-white.png" imageAlt="Majestic Logo" [imageWidth]="300" [imageHeight]="100" websiteHref="https://majestic.com/"></app-sponsor-card>
    <app-sponsor-card class="py-20" image="/College_of_Engineering_and_Physical_Sciences_White.webp" imageAlt="Aston University College of Physical Sciences Logo" [imageWidth]="200" [imageHeight]="150" websiteHref="https://www.aston.ac.uk/eps"></app-sponsor-card>
  </div>
</div>

