<div class="bg-zinc-800 h-fit min-h-fit p-10">
  <h1 class="text-white text-5xl font-mono text-center pb-10">Gallery</h1>
  <div class="grid grid-cols-1 lg:grid-cols-4 grid-rows-4">
    <img src="gallery_one.jpg" alt="" class="gallery-image">
    <img src="gallery_one.jpg" alt="" class="gallery-image">
    <img src="gallery_one.jpg" alt="" class="gallery-image">
    <img src="gallery_one.jpg" alt="" class="gallery-image">
    <img src="gallery_one.jpg" alt="" class="gallery-image">
    <img src="gallery_one.jpg" alt="" class="gallery-image">
    <img src="gallery_one.jpg" alt="" class="gallery-image">
    <img src="gallery_one.jpg" alt="" class="gallery-image">
    <img src="gallery_one.jpg" alt="" class="gallery-image">
    <img src="gallery_one.jpg" alt="" class="gallery-image">
    <img src="gallery_one.jpg" alt="" class="gallery-image">
    <img src="gallery_one.jpg" alt="" class="gallery-image">
    <img src="gallery_one.jpg" alt="" class="gallery-image">
    <img src="gallery_one.jpg" alt="" class="gallery-image">
    <img src="gallery_one.jpg" alt="" class="gallery-image">
    <img src="gallery_one.jpg" alt="" class="gallery-image">
  </div>
</div>
