<app-navbar />
<div class="flex flex-col bg-transparent bg-slate-900 min-h-screen items-center justify-center" id="hero">
    <div class="flex flex-col min-h-screen min-w-full items-center justify-center" id="transparent-hero">
        <img src="/logo.png" alt="Aston Hack Logo" class="mb-5 size-20 md:size-28 object-contain">
        <div class="items-center justify-center text-5xl md:text-8xl font-semibold">
            <span class="text-white syne-mono-regular tracking-wide">ASTONHACK</span>
        </div>
        <app-countdown />
    </div>
</div>

<div class="flex flex-col items-center justify-center bg-zinc-900 px-5 py-20 min-w-full min-h-[55vh] text-white" id="about">
    <div class="text-center flex flex-col items-center justify-center">
        <div class="lg:max-w-[50vw]">
            <h2 class="text-5xl syne-mono-regular">ABOUT THE EVENT</h2>

            <p class="my-5">We’re excited to announce the official launch for AstonHack 10.</p>
            <p class="my-5">Our Hackathon will run from the 22nd to 23rd of February and will be an enjoyable, creative and inspiring experience for hackers and organizers alike</p>
            <p class="my-5">Hackathons are invention marathons where attendees dream up and bring to life ideas for apps, websites,
            robots, and more.We are inviting  students to join us for 24 hours while we develop the ideas for the future!</p>
            <p class="my-5">Whether you’re just getting started or you’ve been programming for years, hackathons are a great place to learn new skills,
                build your network, find jobs, and most importantly have fun. <p>
            <hr class="my-10">
        </div>
    </div>
    <div class="flex flex-col md:flex-row items-center justify-center md:space-x-32">
      <div class="flex flex-col items-center justify-center py-5 text-xl w-fit">
          <h2 class="font-bold">WHERE</h2>
          <p>Aston University</p>
      </div>
      <div class="flex flex-col items-center justify-center py-5 text-xl w-fit">
          <h2 class="font-bold">WHEN</h2>
          <p>February 22nd 2025</p>
      </div>
    </div>
</div>
<div class="h-fit" id="gallery">
  <app-gallery />
</div>
<!-- Sponsors Section -->
<!-- Schedule Section -->
<div class="w-full">
  <app-schedule />
</div>
<!-- FAQ Section -->
<div id="faq" class="h-fit w-full p-10 flex flex-col items-center bg-zinc-800">
  <app-header text="FAQs"></app-header>

  <div class="flex flex-col w-full space-y-20 py-10 justify-center items-center">
    <div id="faq-list" class="md:w-2/3">
      <app-faq-item heading="Who Can Participate?">
        <div content>All ACSS Members, Students of other universities, and graduated up to 2 years.</div>
      </app-faq-item>
      <app-faq-item heading="Can't Find The Registation Link?">
        <div content>Use the direct link below to secure your ticket.</div>
      </app-faq-item>
      <app-faq-item heading="Why Should You Sponsor Us?">
        <div content>
          <p>You can interact, identify and recruit students by hosting workshops, gaining recognition and discovering tech talent. You can also share your internship, placement and graduate schemes to a wide variety of students.</p>
          <br />
          <p>AstonHack is offering 3 tiered sponsorship packages - Gold, Silver and Bronze. Your organisation would provide some combination of funding, tools, data, challenges with prizes, or API access to the value of the relevant tier.</p>
          <br />
          <p>If you have suggestions of how your organisation could support us differently or questions about the tiers, we welcome you to get in touch.</p>
          <br />
          <p>For more information, please download our sponsorship prospectus for AstonHack9 by clicking the link below.</p>
          <br />
        </div>
      </app-faq-item>
      <app-faq-item heading="Who Are We?">
        <div content>
          <p>We are the Aston Computer Science Society (ACSS). Coordinated by students powered with their excitement in tech, we welcome all to learn, share and have fun with computer science.</p>
          <br />
          <p>AstonHack is presented in association with the ACSS - by students, for students.</p>
        </div>
      </app-faq-item>
      <app-faq-item heading="What is a Hackathon">
        <div content>
          <p>A hackathon is where teams of up to 4 people work together to build an invention over a 24 hour period. Sponsors present themes for which prizes will be awarded and at the end of the event where teams will present their work to the judges.</p>
          <br />
          <p>The goal of a hackathon is to create functioning software or hardware by the end of the event. Hackathons tend to have a specific focus, which can include the programming language used, the operating system, an application, an API, or the subject and the demographic group of the programmers.</p>
          <br />
          <p>Whether you’re just getting started or you’ve been programming for years, hackathons are a great place to learn new skills, build your network, find jobs, and most importantly have fun.</p>
        </div>
      </app-faq-item>
      <app-faq-item heading="How much does a Hackathon cost?">
        <div content>This is the answer to the question.</div>
      </app-faq-item>
      <app-faq-item heading="Can I Volunteer?">
        <div content>This is the answer to the question.</div>
      </app-faq-item>
      <app-faq-item heading="Is AstonHack in-person?">
        <div content>This is the answer to the question.</div>
      </app-faq-item>
    </div>

    <!-- Google Map Embeds -->
    <div class="hidden md:block">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2429.5814415697314!2d-1.8908227226309473!3d52.48671377205256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bc9ae4f2e4b3%3A0x9a670ba18e08a084!2sAston%20University!5e0!3m2!1sen!2suk!4v1732045162344!5m2!1sen!2suk" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="block rounded-tl-lg rounded-tr-lg"></iframe>
      <div>
        <p class="bg-zinc-700 text-white text-center w-full p-5 rounded-br-lg rounded-bl-lg">Aston University, Aston Street, Birmingham, B4 7ET</p>
      </div>
    </div>
    <!--
    <div class="block md:hidden">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2429.5812611345605!2d-1.890822723110623!3d52.48671703869302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bc9ae4f2e4b3%3A0x9a670ba18e08a084!2sAston%20University!5e0!3m2!1sen!2suk!4v1732886280770!5m2!1sen!2suk" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="block rounded-tl-lg rounded-tr-lg"></iframe>
      <div>
        <p class="bg-zinc-700 text-white text-center p-5 rounded-br-lg rounded-bl-lg">Aston University, Aston Street, Birmingham, B4 7ET</p>
      </div>
    </div>
    -->
  </div>
</div>
<!-- Get in touch -->
<div id="get-in-touch" class="h-fit px-5 md:px-20 py-20 flex flex-col items-center bg-zinc-800">
  <app-header text="Contact"></app-header>
  <form class="flex flex-col h-fit w-full lg:w-1/3 pt-7">
    <div class="flex flex-col md:flex-row space-y-5 md:space-x-5 md:space-y-0 my-3 md:py-3">
      <input type="text" placeholder="Name" class="form-input h-10 w-full md:w-1/2 p-5 bg-zinc-400 text-black placeholder:text-zinc-700 font-mono focus:outline-none focus:ring-2 focus:ring-purple-500 focus:rounded-sm" />
      <input type="text" placeholder="Email" class="form-input h-10 w-full md:w-1/2 p-5 bg-zinc-400 text-black placeholder:text-zinc-700 font-mono focus:outline-none focus:ring-2 focus:ring-purple-500 focus:rounded-sm" />
    </div>
    <div class="flex flex-row py-3">
      <input type="text" placeholder="Subject" class="form-input h-10 w-full p-5 bg-zinc-400 text-black placeholder:text-zinc-700 font-mono focus:outline-none focus:ring-2 focus:ring-purple-500 focus:rounded-sm">
    </div>
    <div class="flex flex-row py-3">
      <textarea placeholder="Message..." class="form-input h-52 p-5 w-full max-h-96  bg-zinc-400 text-black placeholder:text-zinc-700 font-mono focus:outline-none focus:ring-2 focus:ring-purple-500 focus:rounded-sm"></textarea>
    </div>
    <button type="submit" class="w-full md:w-1/3 py-2 mt-3 bg-purple-700 rounded-lg">
      Send Message
    </button>
  </form>
</div>
<app-footer />
<app-scroll-top />
<router-outlet />
