<app-navbar />
<section class="min-w-full min-h-screen flex flex-col items-center justify-center bg-transparent" id="hero">
    <div class="min-w-full min-h-screen flex flex-col items-center justify-center" id="transparent-hero">
        <img src="/logo.png" alt="Aston Hack Logo" class="size-20 md:size-28 mb-5 object-contain">
        <div class="flex flex-col items-center justify-center text-5xl md:text-8xl font-semibold">
            <span class="tracking-wide"><span class="text-purple-700">ASTON</span>HACK</span>
            <span class="text-xl">February <span class="text-purple-700">2025</span></span>
        </div>
        <app-countdown />
    </div>
</section>

<hr class="scroll-to-hr -translate-y-20" id="about">
<section class="px-5 py-20 min-w-full min-h-fit flex flex-col items-center justify-center bg-stone-200 dark:bg-zinc-900" id="about-content">
    <div class="text-center flex flex-col items-center justify-center">
        <div class="lg:max-w-[50vw]">
            <h2 class="text-5xl">ABOUT THE EVENT</h2>

            <p class="my-5">We’re excited to announce the official launch for AstonHack 10.</p>
            <p class="my-5">Our Hackathon will run from the 22nd to 23rd of February and will be an enjoyable, creative and inspiring experience for hackers and organisers alike</p>
            <p class="my-5">Hackathons are invention marathons where attendees dream up and bring to life ideas for apps, websites,
            robots, and more. We are inviting  students to join us for 24 hours while we develop the ideas for the future!</p>
            <p class="my-5">Whether you’re just getting started or you’ve been programming for years, hackathons are a great place to learn new skills,
                build your network, find jobs, and most importantly have fun. <p>
            <hr class="my-10">
        </div>
    </div>
    <div class="md:space-x-32 flex flex-col md:flex-row items-center justify-center">
      <div class="info-square">
          <h2 class="font-bold">WHERE</h2>
          <p>Aston University</p>
      </div>
      <div class="info-square">
          <h2 class="font-bold">WHEN</h2>
          <p>February 22nd, 2025</p>
      </div>
    </div>
</section>
<hr class="scroll-to-hr -translate-y-12" id="gallery">
<section class="site-section pt-24" id="gallery-content">
  <app-gallery />
</section>
<!-- Sponsors Section -->
<hr class="scroll-to-hr -translate-y-20" id="sponsors">
<section class="site-section bg-zinc-900" id="sponsor-section">
  <app-sponsors />
</section>
<!-- Schedule Section -->
<hr class="scroll-to-hr -translate-y-20" id="schedule">
<section class="site-section">
  <app-schedule />
</section>
<!-- FAQ Section -->
<hr class="scroll-to-hr -translate-y-20" id="faq">
<section id="faq-content" class="site-section bg-zinc-900">
  <app-faq />
</section>
<!-- Contact -->
<hr class="scroll-to-hr -translate-y-20" id="contact">
<section id="contact-content" class="site-section pb-24">
  <app-contact />
</section>
<app-footer />
<app-scroll-top />
<app-theme-toggle />
<router-outlet />
