<app-navbar />
<div class="flex flex-col bg-transparent bg-slate-900 min-h-screen items-center justify-center" id="hero">
    <div class="flex flex-col min-h-screen min-w-full items-center justify-center" id="transparent-hero">
        <img src="/logo.png" alt="Aston Hack Logo">
        <div class="items-center justify-center text-8xl font-semibold">
            <span class="text-white syne-mono-regular tracking-wide">AS<span class="text-amber-500">10</span>NHACK</span>
        </div>
        <app-countdown />
    </div>
</div>

<div class="flex flex-col items-center justify-center bg-zinc-900 py-20 min-w-full min-h-[55vh] text-white" id="about">
    <div class="text-center flex flex-col items-center justify-center">
        <div class="lg:max-w-[50vw]">
            <h2 class="text-4xl">ABOUT THE EVENT</h2>

            <p class="my-5">We’re excited to announce the official launch for AstonHack 9.</p>
            <p class="my-5">Our Hackathon will run from the 18th to 19th of February and will be an enjoyable, creative and inspiring experience for hackers and organizers alike</p>
            <p class="my-5">Hackathons are invention marathons where attendees dream up and bring to life ideas for apps, websites,
            robots, and more.We are inviting  students to join us for 24 hours while we develop the ideas for the future!</p>
            <p class="my-5">Whether you’re just getting started or you’ve been programming for years, hackathons are a great place to learn new skills,
                build your network, find jobs, and most importantly have fun. <p>
            <hr class="my-10">
        </div>
    </div>
    <div class="flex flex-row space-x-32">
      <div class="flex flex-col items-center justify-center py-5 text-xl w-fit">
          <h2>WHERE</h2>
          <p>Aston University</p>
      </div>
      <div class="flex flex-col items-center justify-center py-5 text-xl w-fit">
          <h2>WHEN</h2>
          <p>February 22nd 2025</p>
      </div>
    </div>
</div>
<div class="h-fit" id="gallery">
  <app-gallery />
</div>
<!-- Sponsors Section -->
<div id="schedule">
</div>
<!-- FAQ Section -->
<div id="faq" class="h-fit p-20 flex flex-col items-center bg-zinc-800">
  <h1 class="text-white text-5xl font-mono text-center border-b-4 border-zinc-700 pb-7">FAQs</h1>
</div>
<!-- Get in touch -->
<div id="get-in-touch" class="h-fit p-20 flex flex-col items-center bg-zinc-800">
  <h1 class="text-white text-5xl font-mono text-center border-b-4 border-zinc-700 pb-7">Contact</h1>
  <form class="flex flex-col h-fit pt-7">
    <div class="flex flex-row space-x-5 py-3">
      <input type="text" placeholder="Name" class="form-input h-10 w-1/2 p-5 bg-zinc-400 placeholder:text-zinc-700 font-mono focus:outline-none focus:ring-2 focus:ring-purple-500 focus:rounded-sm" />
      <input type="text" placeholder="Email" class="form-input h-10 w-1/2 p-5 placeholder:text-zinc-700 font-mono focus:outline-none focus:ring-2 focus:ring-purple-500 focus:rounded-sm" />
    </div>
    <div class="flex flex-row py-3">
      <input type="text" placeholder="Subject" class="form-input h-10 p-5 w-full placeholder:text-zinc-700 font-mono focus:outline-none focus:ring-2 focus:ring-purple-500 focus:rounded-sm">
    </div>
    <div class="flex flex-row py-3">
      <textarea placeholder="Message..." class="form-input h-52 p-5 w-full max-h-96 placeholder:text-zinc-700 font-mono focus:outline-none focus:ring-2 focus:ring-purple-500 focus:rounded-sm"></textarea>
    </div>
    <button type="submit" class="w-1/3 py-2 mt-3 bg-purple-700 rounded-lg">
      Send Message
    </button>
  </form>
</div>
<app-footer />
<router-outlet />
