/* Tailwind doesn't work nicely with background-image, so it is here */
#hero {
    background-image: url("/subscribe-bg.jpg");
    background-size: cover;
}

#transparent-hero {
    background-color: rgba(0, 0, 0, 0.9);
}

