<div class="flex flex-col items-center">
  <app-header text="FAQs"></app-header>


  <div class="w-full space-y-20 py-10 flex flex-col lg:flex-row lg:space-x-10 lg:space-y-0 justify-center items-center">
    <div id="faq-list" class="w-11/12 md:w-2/3 lg:w-1/3">
      <app-faq-item heading="Who Can Participate?">
        <div content>All ACSS Members, Students of other universities, and graduated up to 2 years.</div>
      </app-faq-item>
      <app-faq-item heading="Can't Find The Registation Link?">
        <div content>Use the direct link below to secure your ticket.</div>
      </app-faq-item>
      <app-faq-item heading="Why Should You Sponsor Us?">
        <div content>
          <p>You can interact, identify and recruit students by hosting workshops, gaining recognition and discovering tech talent. You can also share your internship, placement and graduate schemes to a wide variety of students.</p>
          <br />
          <p>AstonHack is offering 3 tiered sponsorship packages - Gold, Silver and Bronze. Your organisation would provide some combination of funding, tools, data, challenges with prizes, or API access to the value of the relevant tier.</p>
          <br />
          <p>If you have suggestions of how your organisation could support us differently or questions about the tiers, we welcome you to get in touch.</p>
          <br />
          <p>For more information, please download our sponsorship prospectus for AstonHack9 by clicking the link below.</p>
          <br />
        </div>
      </app-faq-item>
      <app-faq-item heading="Who Are We?">
        <div content>
          <p>We are the Aston Computer Science Society (ACSS). Coordinated by students powered with their excitement in tech, we welcome all to learn, share and have fun with computer science.</p>
          <br />
          <p>AstonHack is presented in association with the ACSS - by students, for students.</p>
        </div>
      </app-faq-item>
      <app-faq-item heading="What is a Hackathon">
        <div content>
          <p>A hackathon is where teams of up to 4 people work together to build an invention over a 24 hour period. Sponsors present themes for which prizes will be awarded and at the end of the event where teams will present their work to the judges.</p>
          <br />
          <p>The goal of a hackathon is to create functioning software or hardware by the end of the event. Hackathons tend to have a specific focus, which can include the programming language used, the operating system, an application, an API, or the subject and the demographic group of the programmers.</p>
          <br />
          <p>Whether you’re just getting started or you’ve been programming for years, hackathons are a great place to learn new skills, build your network, find jobs, and most importantly have fun.</p>
        </div>
      </app-faq-item>
      <app-faq-item heading="How much does a Hackathon cost?">
        <div content>There is no admission free as it is available at no charge to attendees.</div>
      </app-faq-item>
      <app-faq-item heading="Can I Volunteer?">
        <div content>Yes, to get involved please contact ACSS.</div>
      </app-faq-item>
      <app-faq-item heading="Is AstonHack in-person?">
        <div content>Yes, AstonHack10 will be hosted in the Aston University, Main Building.</div>
      </app-faq-item>
    </div>

    <!-- Google Map Embeds -->
    <div class="mt-0 lg:self-start hidden md:block">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2429.5814415697314!2d-1.8908227226309473!3d52.48671377205256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bc9ae4f2e4b3%3A0x9a670ba18e08a084!2sAston%20University!5e0!3m2!1sen!2suk!4v1732045162344!5m2!1sen!2suk" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mt-0 block rounded-tl-lg rounded-tr-lg"></iframe>
      <div>
        <p class="bg-zinc-700 text-white text-center w-full p-5 rounded-br-lg rounded-bl-lg">Aston University, Aston Street, Birmingham, B4 7ET</p>
      </div>
    </div>
    <!-- MOBILE
    <div class="block md:hidden">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2429.5812611345605!2d-1.890822723110623!3d52.48671703869302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bc9ae4f2e4b3%3A0x9a670ba18e08a084!2sAston%20University!5e0!3m2!1sen!2suk!4v1732886280770!5m2!1sen!2suk" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="block rounded-tl-lg rounded-tr-lg"></iframe>
      <div>
        <p class="bg-zinc-700 text-white text-center p-5 rounded-br-lg rounded-bl-lg">Aston University, Aston Street, Birmingham, B4 7ET</p>
      </div>
    </div>
    -->
  </div>
</div>
