<!--
  TODO: Add implementation for countdown to change to "LIVE!" when the countdown has ended.
-->
<div class="flex flex-row space-x-9 bg-purple-700/5 text-white text-2xl text-center mt-5 p-5 rounded-3xl hover:bg-purple-700/35 transition-all duration-700">
  <div>
    <p #days class="mt-1"></p>
    <p class="text-[1rem]">Days</p>
  </div>
  <div class="mt-4">
    :
  </div>
  <div>
    <p #hours class="mt-1"></p>
    <p class="text-[1rem]">Hours</p>
  </div>
  <div class="mt-4">
    :
  </div>
  <div>
    <p #minutes class="mt-1"></p>
    <p class="text-[1rem]">Minutes</p>
  </div>
  <div class="mt-4">
    :
  </div>
  <div>
    <p #seconds class="mt-1"></p>
    <p class="text-[1rem]">Seconds</p>
  </div>
</div>
