.content-hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all;
  transition-duration: 700ms;
  transition-timing-function: ease;
  padding: 0;
}

.content-show {
  opacity: 1;
  max-height: 500px;
  overflow: visible;
  transition: all;
  transition-duration: 700ms;
  transition-timing-function: ease;
}
